<%= form_tag "/add_column" do %>
<div class="form-group">
	<label class="control-label col-md-3">TableName<span class="required"> </span> </label>
	<div class="col-md-8">
		<%= select_tag "table_name", @ar_decendants.collect{|c| "<option>#{c.name}</option>"}.join.html_safe %>

	</div>
		<div class="col-md-3">
			<label>Column Name </label>
			<input type="text" class="form-control" name="column_name"  />
		</div>
			<div class="col-md-8">
				<label> Data Type</label>
				<br/>
				<%= select_tag "new_model[column_data][0][data_type]",
				"<option>binary</option>
				<option>boolean</option>
				<option>date</option>
				<option>datetime</option>
				<option>decimal</option>
				<option>float</option>
				<option>integer</option>
				<option>primary_key</option>
				<option>references</option>
				<option>string</option>
				<option>text</option>
				<option>time</option>
				<option>timestamp </option>
				".html_safe %>
			</div>
</div>			
		<div class="form-group ">
			<div class="col-md-8">
				<%= submit_tag "Add", :class => "btn btn-default" %>
			</div>
		</div>

<% end %>
