<div class="col-md-12" >
<div class="padding-10">
<div class="form-group add_column_form_body" style="margin: 0px;padding: 0px;">

	<input type="hidden" value="<%= klass %>" name="add_column[table_name]" />

	

</div>
<input type="hidden" value="0" class="add_column_column_count" />
<button type="button"  class="add_column_button btn btn-default btn-sm btn-block" >Add Row</button>

</div>
</div>
