<div class="form-group add_column_form_body">

	<input type="hidden" value="<%= klass %>" name="add_column[table_name]" />

	

</div>
<input type="hidden" value="0" class="add_column_column_count" />
<a href="#"  class="add_column_button">add row</a>

