<div class="form-group">
<% if klass.class == Array %>
	<% klass = klass.join("::HABTM_")  %>
	
	<% end %>
		<div class="col-md-18">
			<label>Add Column Name to change Data type </label>
			<input type="hidden" value="<%= klass %>" name="change_datatype[:table_name]" />
			<%= select_tag "column_name" , options_for_select(klass.constantize.columns.collect {|c| [c.name]})%>
		</div>
			<div class="col-md-8">
				<label>Add new Data Type</label>
				<br/>
				<%= select_tag "new_model[column_data][0][data_type]",
				"<option>binary</option>
				<option>boolean</option>
				<option>date</option>
				<option>datetime</option>
				<option>decimal</option>
				<option>float</option>
				<option>integer</option>
				<option>primary_key</option>
				<option>references</option>
				<option>string</option>
				<option>text</option>
				<option>time</option>
				<option>timestamp </option>
				".html_safe %>
			</div>
</div>			
		