<h3>Drop Table</h3>
<%= form_tag "/drop_table" do %>
<div class="form-group">
	<label class="control-label col-md-3">TableName<span class="required"> * </span> </label>
	<div class="col-md-8">
		<%= select_tag "table_name", @all_tables.collect{|c| "<option>#{c}</option>"}.join.html_safe %>
		
	</div>
</div>
<div class="form-group ">
	<%= submit_tag "Drop", :class => "btn btn-default" %>
</div>

<% end %>
