 <div class="col-md-12">
<div class="form-group padding-10">

 
		<input type="hidden" value="<%= klass %>" name="drop_model[model_name]" />
<div class="alert alert-danger"><b><label>
						    <input type="checkbox" name="drop_model[drop_model]" value="true"   />
						    Drop Model
						  </label>
</b> </div>
 

 
	 
</div>

</div>

