<h3>Drop Table</h3>
<div class="form-group">
	<label class="control-label col-md-3">TableName<span class="required"> * </span> </label>
	<div class="col-md-8">
		<%= select_tag "table_name", @ar_decendants.collect{|c| "<option>#{c.name}</option>"}.join.html_safe %>
		
	</div>
</div>


