 <div class="col-md12">

<h3>New Table</h3>
<%= form_tag "/create_table" do %>
<div id="new_table_form_body">
	<div class="form-group padding-10">
		<label class="control-label ">TableName <span class="required"> * </span> </label>
 
			<input type="text" class="form-control" name="new_table[table_name]" id="table_name" autocomplete="off"/>
			<label class="control-label">ColumnName<span class="required"> * </span> </label>
			<input type="text" class="form-control" name="new_table[column_data][0][column_name]"  autocomplete="off"/> <br />
			<%= select_tag "new_table[column_data][0][data_type]",
			"<option>binary</option>
			<option>boolean</option>
			<option>date</option>
			<option>datetime</option>
			<option>decimal</option>
			<option>float</option>
			<option>integer</option>
			<option>primary_key</option>
			<option>references</option>
			<option>string</option>
			<option>text</option>
			<option>time</option>
			<option>timestamp </option>
			".html_safe  , :class => "form-control" %> <br>
			<label class="control-label  ">Limit<span class="required"> * </span> </label>
			<input type="text" class="form-control" name="new_table[column_data][0][limit]"  autocomplete="off"/>
			<label class="control-label ">default<span class="required"> * </span> </label>
			<input type="text" class="form-control" name="new_table[column_data][0][default]"  autocomplete="off"/><br >
			<label class="control-label ">Allow Null<span class="required"> * </span> </label> <br >
			<input type="radio" name="new_table[column_data][0][null]" value="true" checked="checked">
			true
			<br>
			<input type="radio" name="new_table[column_data][0][null]" value="false">
			false
 
	</div>

</div>

<div class="form-group padding-10">
<button type="button" class="btn btn-default add_table_column">
	<i class="fa fa-add"></i> add column &nbsp;&nbsp;
</button>

	<%= submit_tag "Create", :class => "btn btn-default" %>
</div>

<% end %>
<input type="hidden" value="0" id="table_colums_counter" />

</div>
