 <div class="col-md-12">
<div class="form-group padding-10">
	<label class="control-label">Rename Table </label>

		<input type="hidden"  name= 'rename_table[old_table_name]' value = "<%= klass %>">
		
		<label class="control-label">New table name</label>
		<%= text_field_tag 'rename_table[new_table_name]', nil, :class => "form-control"   %>
		<br>
		<%= submit_tag "Rename Table", :class => "btn btn-default" %>
	</div>
</div>
